@use '/src/styles/constants/colors';

.layout {
  height: 100vh;
}

.layoutMain {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
}

footer {
  position: absolute;
  bottom: 10px;
  left: 5%;
}
