// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

// 멍냥 MBTI Colors
$MAIN_BG_COLOR: #f5f6fa;
$MAIN_FONT_COLOR: #2f3640;
$NAME_TAG_COLOR: #dfe4ea;
$FOOTER_COLOR: #f1f2f6;

// cat mode
$CAT_ACCENT_COLOR: #e15f41;
$CAT_BG_COLOR: #f5cd79;
$CAT_BUTTON_COLOR: #f7d794;

// dog mode
$DOG_BG_COLOR: #63cdda;
$DOG_ACCENT_COLOR: #546de5;
$DOG_BUTTON_COLOR: #90ecf8;
