@use '/src/styles/constants/colors';

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 7%;
  padding: 0 50px;
  background-color: colors.$FOOTER_COLOR;
  border-radius: 30px;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;

    span {
      font-size: 20px;
      color: colors.$MAIN_FONT_COLOR;
    }

    &.mainBtn {
      font-family: 'Hi Melody', sans-serif;
      font-size: 20px;
      color: colors.$CAT_ACCENT_COLOR;
    }
  }
}
